# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
character-set-server=utf8 
slow_query_log=1
long_query_time=10
slow-query-log-file=/var/log/mariadb/slow.log
query_cache_size=67108864
